<nav>
    <ul class="nav">
        <li class="nav-item"><a class="nav-link active" [routerLink]="['/']">Home</a></li>
        <li class="nav-item"><a class="nav-link" [routerLink]="['/blog']">Blog</a></li>
        <li class="nav-item"><a class="nav-link" [routerLink]="['/quiz']">Quiz</a></li>
        <li class="nav-item"><a class="nav-link" [routerLink]="['/contact']">Contact</a></li>
        <li class="nav-item"><a class="nav-link" [routerLink]="['/blog/detail/:id']">Blog item details</a></li>
    </ul>
</nav>

