/* You can add global styles to this file, and also import other style files */
html {
    scroll-behavior: smooth;
}  
li{
    display: inline
}
.nav{
    justify-content: center;
    
}

.row h3{
    color: white;
    text-align: center;
    margin: auto;
}

.s-bg{
    background-color: black;
    height: 100%;
}

.row a{
    justify-content: center
}

.footer {
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    text-align: center;
}
.scroll {
    position: fixed;
    bottom: 30px;
    right: 30px;
    display: none;
}

body {
    width: 100%;
    font-size: 14px;
}

.container {
    margin-top: 50px;
}

.list-group-item {
    cursor: pointer;
}

.correct {
    background-color: #289a27;
}

.incorrect {
    background-color: #c41a21;
}

.buttons {
    padding: 10px 10px 10px 0;
}